@import ../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss
$TealOrange: #F5A623

*
	font-family: 'Lato'

.main-menu
	margin: 110px 2px

.menu
	margin: 40px 0px
	max-width: 980px
	margin: 0 auto
	list-style: none
	li
		display: inline
		font-family: 'Lato'
		text-transform: uppercase
		font-weight: 400
		margin: 0 40px
		a
			color: #9A9A9A
			transition: color ease-in-out 0.3s
			&:hover
				color: $TealOrange
				text-decoration: none

.logo-holder
	width: 600px
	padding: 48px 45px 47px 45px
	background: url('logo.png')
	background-repeat: none
	background-size: 100px
	background-position: center

.font-break
	font-family: 'Lato'
	font-weight: 200
	text-transform: lowercase
	font-style: italic
	padding: 0px 5px

.reg-or-log
	color: $TealOrange !important
	transition: color ease-in-out 0.3s
	text-decoration: underline
	&:hover
		color: #9A9A9A !important
		text-decoration: underline !important

*
	margin: 0

html, body
	height: 100%

.page-wrap
	min-height: 100%
	margin-bottom: -50px 

.page-wrap:after
	content: ""
	display: block

.site-footer, .page-wrap:after
	height: 50px

.site-footer
	transition: font-size ease-in-out 0.4s
	h5
		text-transform: uppercase
		text-align: center
		letter-spacing: 0.5px
		font-size: 12px
		color: #4A4A4A
		span
			color: #DD0900
			font-size: 12px
			transition: font-size ease-in-out 0.4s
	&:hover
		h5 span
			font-size: 14px

.signupform
	max-width: 800px
	margin: 0 auto
	border: 1px #DDD solid
	padding: 30px
	h2
		text-transform: uppercase
		font-family: 'Lato'
		color: $TealOrange
		span
			font-size: 12px
			padding-top: 13px
			color: #9A9A9A
			span
				color: $TealOrange
				font-size: 16px
				padding: 0px 5px
	form input 
		margin-top: 15px
	form button
		margin-top: 15px
		width: 100%
		background: $TealOrange
		border: 2px $TealOrange solid
		color: #FFF
		text-transform: uppercase
		transition: background ease-in-out 0.4s, color ease-in-out 0.4s
		&:hover
			background: #FFF
			color: $TealOrange
			border: 2px $TealOrange solid

.loginform
	max-width: 600px
	margin: 0 auto
	border: 1px #DDD solid
	padding: 30px
	h2
		text-transform: uppercase
		font-family: 'Lato'
		color: $TealOrange
		span
			font-size: 12px
			padding-top: 13px
			color: #9A9A9A
			span
				color: $TealOrange
				font-size: 16px
				padding: 0px 5px
	form input 
		margin-top: 15px
	form button
		margin-top: 15px
		width: 100%
		background: $TealOrange
		border: 2px $TealOrange solid
		color: #FFF
		text-transform: uppercase
		transition: background ease-in-out 0.4s, color ease-in-out 0.4s
		&:hover
			background: #FFF
			color: $TealOrange
			border: 2px $TealOrange solid

.error
	text-align: center
	padding: 10px
	background: rgba(219, 16, 21, 0.1)
	border: 1px RGB(219, 16, 21) solid
	margin: 30px 0px 10px 0px
	border-radius: 5px

.leftname
	width: 49%
	float: left
	margin-bottom: 15px

.rightname
	width: 49%
	float: right
	margin-bottom: 15px