<!DOCTYPE html>
<html>
<head>
	<title>National Institute of Technology, Hazratbal</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	{% assets "css_home" %}
	<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
	{% endassets %}

	{% assets "js_home" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{% endassets %}
</head>
<body>
	<header>
	<nav class="main-menu">
		<ul class="menu">
			<a href="/"><li class="logo-holder"></li></a>
			<div class="left">
				<li class="menu-item"><a href="/departments">Departments</a></li>
				<li class="menu-item"><a href="/academics">Academia</a></li>
				<li class="menu-item"><a href="/events">Events</a></li>
				<li class="menu-item"><a href="/register" class="reg-or-log">Register</a> <span class="font-break">or</span> <a href="/login" class="reg-or-log">Log In</a></li>
				<li><a class="bars"><i class="fa fa-bars"></i></a></li>
			</div>

		</ul>
	</nav>
	</header>
	{% block content %}{% endblock %}
</body>
</html>