<!DOCTYPE html>
<html>
<head>
	<title>National Institute of Technology, Hazratbal</title>
	<!-- Latest compiled and minified CSS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<div class="page-wrap container">
	<nav class="main-menu">
		<ul class="menu">
			<li><a href="/departments">Departments</a></li>
			<li><a href="/academics">Academia</a></li>
			<a href="/"><li class="logo-holder"></li></a>
			<li><a href="/events">Events</a></li>
			<li><a href="#" class="reg-or-log">{{current_user.firstname}} {{current_user.lastname}}</a><button class="profile-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span>3</span></button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
					<div class="notif-title">Notifications</div>
				    <li><a href="#">Action</a></li>
				    <li><a href="#">Another action</a></li>
				    <li><a href="#">Something else here</a></li>
				    <li><a href="#">Separated link</a></li>
				    <div class="log-title"><a href="/logout">Log out</a></div>
				  </ul>
			</li>
		</ul>
	</nav>
	{% block content %}{% endblock %}
	</div>
	<footer class="site-footer">
	<h5>Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> in Kashmir</h5>
	</footer>
</body>
</html>