{% extends "base.html"%}
 
{% block content%}
<div class="container dep-container">
	<h1 class = "dep-heading">{{ dep['code'] }} Department</h2>

	<div class="container">
	<div class="row">
		<ul class="dep-links">
			<li><a href="/">Home</a></li>
			<li><a href="/">Faculty</a></li>
			<li><a href="/">Courses</a></li>
			<li><a href="/">Labs</a></li>
			<li><a href="/">Research</a></li>
		</ul>
	</div>
	
	<div class="row row-md-10 dep-main-content">
		<p>{{dep['description']}}
		</p>
	</div>
	</div>
</div>

{% endblock%}