{% extends "base.html" %}
{% block content %}
	<div class="container clearfix">
	<section class="main-text">
		<h1>Here's to the  <span id="dynamic-text-wrapper">
        <span id="old-text">engineers.</span>
        <span id="new-text">engineers.</span>
    </span> <br /></h1>
    	<p><span>National Institute of Technology, Hazratbal</span> is the technological melting point of Srinagar. Standing firmly aside the Dal lake, divulge into the rich culture of NIT Srinagar, the <span>cradle of innovation.</span> </p>
	</section>
	</div>
	<div class="chevron-image clearfix"></div>
	<div class="events">
		<h1>The Inside Scoop</h1>
		<p>As you'd expect, there's always interesting things happening here at <span>NIT Srinagar</span>. Hackathons, quizzes, clubs, and more. Drop by to participate and learn. Here's a few of the events, right out of the oven!</p>
	</div>
	<div class="container">
	<div class="row event-row">
	  <div class="col-md-4"><div class="event-box">
	  	<h3>3xHackathon</h3>
	  	<p>48 hours, unlimited coffee. Do you have what it takes to ship an iOS app? Let's find out!</p>
	  	<button class="btn btn-default btn-lg">Join Event</button>
	  	<div class="no-going">42 are going!</div>
	  </div></div>
	  <div class="col-md-4"><div class="event-box">
	  	<h3>Quiz Night</h3>
	  	<p>Put your general knowledge to scrutiny. Join us on 4th July for a quiz night at the Drawing hall!</p>
	  	<button class="btn btn-default btn-lg">Join Event</button>
	  	<div class="no-going">422 are going!</div>
	  </div></div>
	  <div class="col-md-4"><div class="event-box">
	  	<h3>Football Tournament</h3>
	  	<p>Football is life. If that's true for you, join and go head on against the best in town.</p>
	  	<button class="btn btn-default btn-lg">Join Event</button>
	  	<div class="no-going">119 are going!</div>
	  </div></div>
	</div>
	</div>
	<div class="chevron-image-left clearfix"></div>

	<footer>
		<div class="nit-flat"></div>
	</footer>

	<script type="text/javascript">
	$(document).ready(function() {
    window.ingredients = ["makers.","hackers.","engineers.","techies.", "learners."];

//    var debug = $("#debug");
    
    function flipText(newText) {
        flipUp == true ? ($("#new-text").text(newText), $("#old-text").hide("drop", {
            direction: "down"
        }, 300), $("#new-text").show("drop", {
            direction: "up"
        }, 300)) : ($("#old-text").text(newText), $("#old-text").show("drop", {
            direction: "up"
        }, 300), $("#new-text").hide("drop", {
            direction: "down"
        }, 300));
        flipUp = !flipUp; // Alternating flipping direction
    }

    var interval = 2e3; // 2 seconds
    var flipUp = true;
    var index = 0;
    var maxIndex = window.ingredients.length - 1;
    setInterval(function() {
        var nextText = window.ingredients[index];
//        debug.append("<p>"+window.ingredients[index]+"</p>");
        flipText(nextText);
        index = (index == maxIndex) ? 0 : index + 1;
     }, interval);
});
</script>
{% endblock %}